<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.sound.server.auth.Auth" alias="Auth"/>
        <typeAlias type="com.sound.server.auth.AuthSearchFilter" alias="AuthSearchFilter"/>
        
        <typeAlias type="com.sound.server.sound.Sound" alias="Sound"/>
        <typeAlias type="com.sound.server.sound.SoundFilter" alias="SoundFilter"/>
    </typeAliases>
</configuration>