@charset "UTF-8";

/* login in page */
.user_section{ position: fixed; width: 100%; height: 100%; min-height: 100%;}
.user_login_wrap{ margin: 300px auto 0 auto; width: 300px; height: 190px; }
.user_login_header{ width: 100%; height: 40px; }
.user_login_header>h1{width: 100%; font-size: 100%; line-height: 40px; text-align: center; }
.user_login_article{ width: 100%; height: 150px; }
.user_login_form{ width: 100%; height: 150px; }
.user_login_form>li{width: 100%; height: 50px;}
.user_login_form>li.error{ width: 100%; height: 20px; line-height: 20px; text-align: center; font-size: 75%; color: #e04836; margin-bottom: 10px;}
.user_login_form>li>input{width: 182px; margin: 4px 50px; height: 20px; padding: 5px 8px; color: #000;}
.user_login_form>li>button{ margin: 0 auto; width: 200px;}

.button_common{ padding: 0px; border: 0px; cursor: pointer; display: block; width: 80px; height: 30px; line-height: 30px; text-align: center; color: #fff; border-radius: 5px; font-size: 75%;}
.button_common>a{ display: block; width: 100%; height: 100%; color: #fff;}

.button_blue{ background: #466980;}
.button_blue:hover{ background: #2f5168;}

/* common navigation */
.common_navigation{ position: fixed;  width: 200px; height: 100%; background: #2f5168; z-index: 10;}
.common_navigation>ul{ width: 100%; height: 40px;}
.common_navigation>ul>li{ width: 180px; height: 30px; padding: 5px 10px; text-align: left;}
.common_navigation>ul>li>a{ width: 180px; height: 30px; display: block; line-height: 30px; color: #fff; font-weight: bold; font-size: 75%;}
.common_navigation>ul>li>a:hover{ color: #ffb971;}
.common_navigation>ul>li>a.active{ color: #ffb971;}

/* common section*/
.common_section_wrap{ position: fixed; width: 100%; height: 100%; z-index: 5;}
.common_section{ margin: 0 0 0 200px; overflow-y: scroll; background: #fff; min-height: 100%; max-height: 100%; }

.common_header{ padding: 10px 15px; }
.common_header>h1{ font-size: 100%; border-left: 3px solid #5696bc;  text-indent: 10px;}

.common_article{ padding: 10px 15px; }
.common_article>header{ padding: 5px; width: 100%; height: 16px;}
.common_article>header>h2{ font-size: 81.75%; color: #011522; float: left; height: 16px; line-height: 16px;}
.common_article>header>span{ font-size: 75%; float: left; height: 16px; line-height: 16px; margin-left: 10px; color: #e04836;}

.common_input_wrap{}
.common_input_wrap li{ padding: 6px; height: 30px;}
.common_input_wrap label{ font-size: 75%; width: 70px; display: block; float: left; height: 30px; line-height: 30px;}
.common_input_wrap input{ font-size: 75%; padding: 5px; border: 1px solid #c0c0c0;}
.common_input_wrap input:focus { border: 1px solid #2f5168}

.common_result_wrap{}
.common_result_wrap li{ padding: 6px; font-size: 67.5%; color: #000;}
.common_result_wrap li.highlight{ color: #e04836; font-weight: bold;}
.common_result_wrap li>a{ color: #5696bc;}
.common_result_wrap li>a:hover{ color: #011522;}


.orangeButton{ background: #f39d41; color: #fff; font-size: 75%; border-radius: 4px; border: 0px; padding: 8px 10px; }
.orangeButton:hover{ background: #e08a2e; }
